@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap');
// font-family
$pacifico: 'Pacifico', cursive;
$raleway: 'Raleway', sans-serif;

// font-size
@function px_to_rem($target, $context: $base-size) {
  @if $target==0 {
    @return 0;
  }
  @return $target / $context + 0rem;
}
$base-size: 16px;
/* ---FONT SIZE--- */
$H1500: px_to_rem(150px);
$H720: px_to_rem(72px);
$H550: px_to_rem(55px);
$H480: px_to_rem(48px);
$H450: px_to_rem(45px);
$H360: px_to_rem(36px);
$H350: px_to_rem(35px);
$H330: px_to_rem(33px);
$H300: px_to_rem(30px);
$H280: px_to_rem(28px);
$H260: px_to_rem(26px);
$H240: px_to_rem(24px);
$H220: px_to_rem(22px);
$H210: px_to_rem(21px);
$H200: px_to_rem(20px);
$H90: px_to_rem(19px);
$H80: px_to_rem(18px);
$H70: px_to_rem(17px);
$H60: px_to_rem(16px);
$H50: px_to_rem(15px);
$H40: px_to_rem(14px);
$H30: px_to_rem(13px);
$H20: px_to_rem(12px);
$H10: px_to_rem(11px);
$H0: px_to_rem(10px);
$H9: px_to_rem(9px);

// colors
$white: #ffffff;
$white-20: #fbfbf7;
$ellow: #ffe92f;
$violet: #b07cf7;
$blue-10: #70bfff;
$blue-50: #5585a2;
$blue-90: #355b82;
$mint-10: #00c4c4;
$mint-30: #00b7b7;
$mint-50: #00adad;
$mint-80: #009c9c;
$black-90: #262626;
$black-100: #000000;
$red: #f72b3b;
$orange: #ff6033;
$green: #96b92c;
$grey-10: #b9b9b9;
$grey-60: #9d9d9d;
$pink: #ff2b58;