@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Playfair+Display&display=swap');

// fonts
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;

// colors
$text: #171717;
$btn: #EAA258;