@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

// fonts
$montser: 'Montserrat', sans-serif;
$pt-sans: 'PT Sans', sans-serif;

// colors
$white: #ffffff;
$blue: #0ec8cb;
$darknes-gray: #898f99;
$grey: #f7f7f7;
$border-color: #ededed;
$text-grey: #999999;
$black: #1b1b1b;

// font-size
$heading: 48px;
$medium: 21px;
$tagline: 18px;
$card-text: 14px;
$minimum: 12px;