@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// fonts
$main-text: 'Lato', sans-serif;

// font-size
$title-size: 56px;
$sub-title: 16px;
$card-name: 18px;
$position: 16px;

// colors
$white: #FFFFFF;
$title-color: #3C3C3C;
$card-color-text: #282528;
$hover-card: #00AED9;
$mask-card: #DADADA;
$rectangle: #DDDBDB;