$style: "border-section";
.#{$style} {
  &--services {
    background-image: url("../../img/services-bg@1X.jpeg");
    background-repeat: no-repeat;
    padding: 128px 0 109px 0;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: $screen-tablet) {
      padding: 90px 0 90px;
    }
    @media screen and (max-width: $screen-iphone-plus) {
      padding: 60px 0 60px;
    }
  }
  &__content-wrapper {
    &--white {
      border-color: $N0;
      &:before {
        background-color: $N0;
      }
      &:after {
        background-color: $N0;
      }
    }
  }
  &__title {
    &--white {
      color: $N0;
      top: -11%;
      @media screen and (max-width: $screen-tablet-small) {
        top: -6.5%;
      }
      @media screen and (max-width: $screen-iphone-plus) {
        top: -5.5%;
      }
    }
  }
  &__text {
    &--white {
      color: $N0;
    }
  }
}