@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$main-font: 'Lato', sans-serif;

// colors
$N0: #FFFFFF;
$N10: #F6F7FC;
$N100: #3C3C3C;

// font-sizes
$header-title: 54px;
$header-subtitle: 15px;
$section-title: 34px;
$section-text: 16px;
$section-subtitle: 20px;
$min-text: 14px;
$contact-us-title: 30px;
$copyright: 14px;
$btn-contact: 16px;