@font-face {
  font-family: 'Trebuchet MS';
  src: url('../assets/fonts/Trebuchet MS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//  fonts
$text: 'Trebuchet MS', Arial, sans-serif;

//  colors
$red: #eb7e7f;
$background-grey: #3b3f45;
$light-grey: #4a4f56;
$white: #ffffff;
$text-white: #eaf4f9;
$checkbox-white: #e0e0e0;
$text-brackets: #CDC9C8;
$text-through: #AAA7BB;
$odd-line: #88839E;
$even-line: #7A7593;
$checkbox-done: #434343;
$hover-line: #625E77;