@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

// fonts
$main-font: 'Raleway', sans-serif;
$headings: 'Roboto', sans-serif;
$btn-font: 'Open Sans', sans-serif;

// colors
$N0: #FFFFFF;
$N10: #cccccc;
$N20: #898f8f;
$N30: #666666;
$N40: #333333;
$N50: #ffcc00;

// font sizes
$text: 14px;
$btn: 14px;
$position: 24px;
$name: 36px;
$title: 60px;
$subtitle: 18px;
